<h1>Signup Form</h1>
<form action="/register" method="POST">
    <input type="text" name="contact" placeholder = "contact">
        <input type="text" name="name" placeholder = "name">

    <input type="password" name="password" placeholder="password">
    <button type="submit">Submit</button>
    
    
</form>

<ul>
    <li><a href="/register">Signup</a></li>
     <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
</ul>